/*stylesheet*/
body {
	margin: 0;	
	background: black;
	color: white;
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 500;
}

/*div {
	width: 600px;
	height: 600px;
	background: green;
	margin: 2em;
	padding: 2em;
}*/

/*div.red {
	background: red;
}
		selector class

div #top {
	background: blue
		selector id*/

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
	padding: 0 2em;
}

#main {
	padding: 1em;
	background: black;
}

#sidebar {
	background: black;
	padding: 0em;
}

#content {
	background: black;
	padding: 0em;
}

#header {
	background: black;
	padding: 1em;
}

#logo {
	padding: 0em 0;
	margin-bottom: 2em;
}

#logo h1 {
	margin: 0;
}
#logo img, .item img {
	width: 80%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
}

#nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0
	
}

#nav li {
	margin-bottom: 2em;
	font-weight: 700;
	font-size: 24pt;
}

#nav li a {
	color: white;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

#nav li a:hover {
	color: black;
	text-decoration: none;
	background: white;
}

.quote-holder {
	height: 100%;
	background: black;
	background-image: url("../images/killcom.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
	color: black;
}

.quote {
	font-size: 2em;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: black;
		margin-bottom: 0;
	}
}

